<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @item.title %>
</p>

<p>
  <strong>Tag1:</strong>
  <%= @item.tag1 %>
</p>

<p>
  <strong>Tag2:</strong>
  <%= @item.tag2 %>
</p>

<p>
  <strong>Tag3:</strong>
  <%= @item.tag3 %>
</p>

<p>
  <strong>Status:</strong>
  <%= @item.status %>
</p>

<p>
  <strong>Price:</strong>
  <%= @item.price %>
</p>

<p>
  <strong>Content:</strong>
  <%= @item.content %>
</p>

<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>
